/* style.css */
/*
Device sizes
-Mobile: 375px
- Desktop: 1440px*/
:root {
  --green: hsl(75, 95%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey700: hsl(0, 0%, 20%);
  --grey800: hsl(0, 0%, 12%);
  --grey900: hsl(0, 0%, 8%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: var(--grey900);
}

.main-container{
    border: 1px solid black;
    padding: 1.4rem;
    border-radius: 0.7rem;
    margin: auto;
    width: 350px;
    background-color: var(--grey800);
    max-width: 375px;
}

.profile-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.2rem;
    margin-top:0.5rem;
    

}

.profile-header img{
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
    margin-bottom: 0.79rem;

}

.profile-header h2{
   color: var(--white); 
   margin-bottom: 0.7rem;

}

.profile-header h4{
    color: var(--green);
    margin-bottom: 1.3rem;
    font-weight:600;
    font-size:0.9rem;
}

.profile-header p{
    color: var(--white);
    font-weight: 400;
    font-size: 0.83rem;
}

.social-links {
    display: flex;
    flex-direction: column;
}

.social-links button{
    background-color: var(--grey700);
    color: var(--white);
    padding: 0.6rem 0.8rem;
    border-radius: 0.5rem;
    border: none;
    margin-bottom: 0.6rem;
    font-weight: 600;
    font-size: 0.8rem;
   
   
}

.button-link:hover {
    background-color: var(--green);
    color: var(--grey900);
}

/* @media only screen and (max-width:375px){
    .main-container{
        width: 300px;
    }

    p{
        font-size: 0.5rem;
        font-weight: 600;
        letter-spacing: 1px;
    }
} */

@media only screen and (min-width:375px){
    .main-container{
        padding: 1.4rem;
        
    }
    body{
        background-color: var(--grey900);
    }
}